.App {
  text-align: center;
}




.container{
 
  display: grid;
  grid-template-rows: repeat(3,400px);
 grid-template-columns: repeat(4,300px);
 grid-gap:40px;
 justify-content: space-around;
  
}
.row{
    height: 400px;
    width: 300px;
    border: 2px solid black;
}
.row>img{
  height: 100%;
  width: 100%;
}
